<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/my.css">
  <title>CAT vs DOG</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="/style.css">
  <script src="/UnityProgress.js"></script>
  <script src="/UnityLoader.js"></script>
  <script src="/socket.io/socket.io.js"></script>

<script>
var gameInstance = UnityLoader.instantiate("gameContainer", "/pushpullweb.json", {onProgress: UnityProgress});
</script>
</head>