    <div class="webgl-content">
        <div id="gameContainer" style="width: 640px; height: 360px"></div>
        <div class="footer">
        <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)"></div>
        <div class="title">CAT.DOG.WAR</div>
        </div>
    </div>